<!DOCTYPE html>
<html>
    <head>
        <title>Notes List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>These are the notes:</h1>
        <ul>
            {% comment %} {% for note in notes %} {% endcomment %}
            {% comment %} <li>{{note.title}}</li> {% endcomment %}
        </ul>
            {% for note in notes %}
                {% comment %} <li>{{note.title}}</li> {% endcomment %}
                <table>
                    <tr>
                        <th style = "text-align: left; margin: 0; padding: 0;"><h2>{{note.title}}</h2></th>
                    </tr>
                    <tr>
                        <td>
                            <p>{{note.text}}<br />
                            {{note.created}}
                            </p>
                        </td>
                    </tr>
                </table>
            {% endfor %}

        <h1>Some randomn HTML here.</h1>
        
        <script src="" async defer></script>
    </body>
</html>