{% extends "base.html" %}
{% block content %}
<div class = "wrapper">
<div class="col">
    <div class="border round">
            <table>
                <tr>
                    <th><h2 class="my-5">{{note.title}}</h2></th>
                </tr>
                <tr>
                    <td>
                        <p>{{note.text}}<br />
                        <sup>{{note.created}}</sup>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}