{% extends "base.html" %}
{% block content %}
    <div class = "wrapper">
        <h1 class="my-5 main_header">These are the notes:</h1>
        <div class = "row row-cols3 g-2">
            {% for note in notes %}
            <div class="col">
                <div class="p-3 border">
                    <table>
                        <tr>
                            <th>
                                <p><sup>{{note.created}}</sup></p>
                                <a href="{% url 'notes.detail' pk=note.id %}"><h2>{{note.title}}</h2></a>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>{{note.text|truncatechars:20}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}